{% extends 'blank_layout.html' %}
{% block content %}
<h2>Teacher Login</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <button type="submit">Login</button>
</form>

<a href="{% url 'login' %}">Login as Student</a>
{% endblock %}
